body {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}
.header-logo {
  width: 50px;
  height: 48px;
}
.header-title {
  font-family: "DM-sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #d04f4f;
  margin-top: 5px;
}

.search-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-body .search-input {
  border-radius: 5px;
  width: 90%;
  border: none;
  outline: none;
  background-color: #e7e7e7;
  height: 69px;
  padding-left: 20px;
  font-size: 18px;
  font-family: "lato", sans-serif;
}
.search-body .search-icon {
  position: relative;
  font-size: 25px;
  right: 40px;
  cursor: pointer;
}

section {
  width: 94%;
  margin: auto;
}

.filter {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.filter-buttons {
  display: flex;
  gap: 20px;
}
.filter-button {
  border: none;
  border-radius: 5px;
  padding: 20px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 20px;
  cursor: pointer;
}
.filter .btn-1 {
  background-color: #3282f7;
}
.filter .btn-2 {
  background-color: #68d9a4;
}
.filter .btn-3 {
  background-color: #ed6454;
}
.filter .chevron {
  color: white;
  cursor: pointer;
}
.filter-dropdown {
  width: 400px;
  border-radius: 5px;
}
.filter-chevron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.filter-chevron .filter-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  color: white;
}
.filter-chevron .filter-input::placeholder {
  color: inherit;
  opacity: 0.5;
}
.filter-list {
  display: grid;
  width: auto;
  padding: 20px;
  color: white;
}

#recipes {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 60px;
}
#recipes .card {
  background-color: #e7e7e7;
  border-radius: 5px;
  width: 380px;
  height: 364px;
}
#recipes .card-details {
  padding: 15px;
  border: 1px solid red;
}
#recipes .card-details__timing {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  border: 1px solid blue;
}
#recipes .card-details__timing--title {
  font-family: inherit;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  font-size: 18px;
  border: 1px solid red;
}
#recipes .card-details__timing--time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  font-weight: bold;
  width: 90px;
  border: 1px solid blueviolet;
}
#recipes .card-details__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
  font-size: 12px;
  border: 1px solid green;
}
#recipes .card-details__description--left {
  font-size: 12px;
  width: 50%;
  border: 1px solid purple;
}
#recipes .card-details__description--left .recipes__ingredient {
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#recipes .card-details__description--left .recipes__ingredient_name, #recipes .card-details__description--left .recipes__ingredient_value {
  margin: 1px;
  white-space: nowrap;
}
#recipes .card-details__description--left .recipes__ingredient_name {
  font-weight: bold;
}
#recipes .card-details__description--left .recipes__ingredient_value {
  overflow: hidden;
  text-overflow: ellipsis;
}
#recipes .card-details__description--right {
  width: 50%;
  height: 109px;
  font-family: "roboto", sans-serif;
  overflow: auto;
  border: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
