$primary-color: #d04f4f;

@mixin flex-items($display, $align, $justify) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

body {
  box-sizing: border-box;
}
/////////////part style for header section/////////
.header {
  @include flex-items(flex, center, center);
  flex-direction: column;
  padding-top: 20px;
  &-logo {
    width: 50px;
    height: 48px;
  }
  &-title {
    font-family: "DM-sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: $primary-color;
    margin-top: 5px;
  }
}
//////////////part style for search section////////////////
.search-body {
  @include flex-items(flex, center, center);
  width: 100%;
  .search-input {
    border-radius: 5px;
    width: 90%;
    border: none;
    outline: none;
    background-color: #e7e7e7;
    height: 69px;
    padding-left: 20px;
    font-size: 18px;
    font-family: "lato", sans-serif;
  }
  .search-icon {
    position: relative;
    font-size: 25px;
    right: 40px;
    cursor: pointer;
  }
}

/////////////////part style for filters section///////////////
section {
  width: 94%;
  margin: auto;
}
.filter {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  &-buttons {
    display: flex;
    gap: 20px;
  }
  &-button {
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    color: white;
    @include flex-items(flex, center, unset);
    gap: 20px;
    cursor: pointer;
  }
  .btn-1 {
    background-color: #3282f7;
  }
  .btn-2 {
    background-color: #68d9a4;
  }
  .btn-3 {
    background-color: #ed6454;
  }
  .chevron {
    color: white;
    cursor: pointer;
  }
}
